@import './variables.scss';
@import './mixins.scss';
@import './_animations.scss';
@import './_buttons.scss';
@import './_cards.scss';
@import './_forms.scss';
@import './_modals.scss';

:deep(.n-button:not(.n-button--disabled):active) {
  background: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--bg-primary) !important;
}

:deep(.n-button--primary:active) {
  background: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
}

:deep(.n-button--default:active) {
  background: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--bg-primary) !important;
}
